UCLIBC_FORMAT_FLAT_SEP_DATA=y
# ARCH_HAS_MMU is not set
# UCLIBC_HAS_FPU is not set
DO_C99_MATH=y
KERNEL_HEADERS="/home/daniel/coding/m68kjunkclean/build/buildroot_000/build/linux-headers-6.12.17/usr/include"
# DOPIC is not set
UCLIBC_HAS_LINUXTHREADS=y
UCLIBC_HAS_UTMPX=y
UCLIBC_HAS_UTMP=y
# UCLIBC_HAS___PROGNAME is not set
UCLIBC_HAS_GETPT=y
UCLIBC_HAS_LIBUTIL=y
# UCLIBC_HAS_GNU_ERROR is not set
# UCLIBC_BSD_SPECIFIC is not set
# UCLIBC_HAS_BSD_ERR is not set
# UCLIBC_HAS_ADVANCED_REALTIME is not set
# UCLIBC_HAS_XATTR is not set
# UCLIBC_HAS_PROFILING is not set
# UCLIBC_HAS_CRYPT_IMPL is not set
UCLIBC_HAS_IPV6=y
UCLIBC_USE_NETLINK=y
UCLIBC_SUPPORT_AI_ADDRCONFIG=y
UCLIBC_HAS_RESOLVER_SUPPORT=y
UCLIBC_HAS_CTYPE_CHECKED=y
UCLIBC_HAS_LIBINTL=y
UCLIBC_HAS_HEXADECIMAL_FLOATS=y
UCLIBC_HAS_GLIBC_CUSTOM_PRINTF=y
UCLIBC_HAS_FOPEN_EXCLUSIVE_MODE=y
UCLIBC_HAS_GLIBC_CUSTOM_STREAMS=y
UCLIBC_HAS_PRINTF_M_SPEC=y
# UCLIBC_HAS_REGEX is not set
UCLIBC_HAS_GNU_GLOB=y
RUNTIME_PREFIX="/"
DEVEL_PREFIX="/usr"
UCLIBC_HAS_SSP=y
UCLIBC_BUILD_SSP=y
CROSS_COMPILER_PREFIX="/home/daniel/coding/m68kjunkclean/build/buildroot_000/host/bin/m68k-buildroot-uclinux-uclibc-"
UCLIBC_EXTRA_CFLAGS="-flto"
# DOSTRIP is not set
