BR2_m68k=y
BR2_m68k_68030=y
BR2_BINUTILS_VERSION_2_42_X=y
BR2_CURL="curl -q --ftp-pasv --retry 3"
BR2_WGET="wget -nd -t 3"
BR2_SVN="svn --non-interactive"
BR2_SCP="scp"
BR2_SFTP="sftp"
BR2_GNU_MIRROR="http://ftpmirror.gnu.org"
BR2_TARGET_ROOTFS_SQUASHFS=y
